nav {
  display: block;
}
h1 {
  text-align: center;
  color: rgb(228, 221, 234);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  position: relative;
  top: 0;
  width: 100%;
  background-color: rgb(146, 123, 154) !important;
  background-color: bisque;
  padding: 10px;
}
li a:hover {
  background-color: #535252;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body {
  background-color: lavender;
}
h2 {
  text-align: center;
  color: rgb(34, 7, 60);
}
h3 {
  text-align: center;
  color: rgb(34, 7, 60);
}
h4 {
  text-decoration: underline;
}
p {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  margin: 2em;
}
img {
  border: 5px solid #1f042a;
}
footer {
  background-color: rgb(146, 123, 154);
  height: 50px;
  margin: 0;
  padding: 0;
  overflow: auto;
  position: relative;
  width: 100%;
}
